@breadcrumbs-height:80px;


.breadcrumbs {
  position: relative;
  z-index: auto;
  border-bottom: 1px solid #2b7dbc;
  background-color: lighten(@page-bg, 5%);
  min-height: @breadcrumbs-height;
  line-height: @breadcrumbs-height;
  padding-left:@content-gutter;
  h1 {
    line-height: @breadcrumbs-height;
    &.hsub{
      line-height: @breadcrumbs-height - 20px;
      padding-top:20px;
    }
  }
}

.breadcrumb{
  position: absolute;
  left: @content-gutter;
  top:5px;
  background: transparent;
  line-height: normal;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width:480px) {
  .breadcrumb>li>a {
    padding: 0 1px
  }
}

@media only screen and (max-width:320px) {
  .breadcrumb {
    margin-left: 8px
  }
}