/*
    Main layout (layout.less)
------------------------------------
*/
.main-container{
  padding-top:45px;
  @media @mobiles{
    padding-top: 95px;
  }
  &::before {
    display: block;
    content: "";
    position: absolute;
    z-index: -2;
    width: 100%;
    max-width: inherit;
    bottom: 0;
    top: 0;
    background: @page-bg;
  }
  &.container{
    &:before {
      width: inherit;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, .1)
    }
    padding:45px 0 0 0;
    @media @mobiles{
      padding-top: 95px;
    }
  }
  .footer .footer-inner .footer-content {
    border: none
  }
}

.compressed-content {
  max-width: 975px
}

.main-content {
  margin-left: 190px;
  min-height: 100%;
  padding: 0;
  @media @mobiles{
    margin-left:0;
  }
}

.page-content {
  background: @page-bg;
  position: relative;
  margin: 0;
  padding: 8px 20px 24px;
}
