/*
   Panel (panel.less)
------------------------------------
*/

.panel-default>.panel-heading {
  background: #fefefe
}

.panel-default>.panel-heading>.panel-heading-info {
  padding-top: 5px;
  color: #888
}
